@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar.active {
    margin-left: -250px;
}
#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background: #fcfcfc;
    color: rgb(0, 0, 0);
    transition: all 0.3s;
    border-right: 4px solid #cecece;
}
a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}



body {
    font-family: 'Poppins', sans-serif;
    background: #fcfcfc;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: rgb(0, 0, 0);
    margin-left: 13px;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #fcfcfc;
    border-bottom: 1px solid #cecece;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #cecece;
}

#sidebar ul p {
    color:  rgb(0, 0, 0);
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #fcfcfc;
    background:  rgb(0, 0, 0);
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color:  rgb(0, 0, 0);
    background: #fcfcfc;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #fcfcfc;
}
.currentInfo{
    display: flex;
    height: 450px;
    width: 1600px;
    align-items: flex-end;
    justify-content: center;
}

#headBar{
    display: flex;
    height: 120px;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
#status{
    display: flex;
    width: 90%;
    height: 120px;
    align-items: center;
    justify-content: center;
    border: 2px solid #cecece;
    border-bottom: 4px solid #cecece;
    border-right: 4px solid #cecece;
    border-radius: 30px;
}
#mapButton{
    display: flex;
    width: 10%;
    height: 120px;
    align-items: center;
    justify-content: center;
}
input[id*="popup"]{
    display: none;       
}
input[id*="popup"] + label{
    display: inline-block;
}
input[id*="popup"] + label + div{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}
input[id*="popup"]:checked + label + div{
    display: block;
}
input[id*="popup"] + label + div > div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 1200px;
    height: 900px;
    background: #fff;
    z-index: 2;
}
#map_popup{
    position: absolute;
    z-index: 1;
    width: 1200px;
    height: 900px;
}
input[id*="popup"] + label + div > div > label{
    position: absolute;
    top: 0%;
    right: 0%;
    transform: translate(40%,-40%);
    padding:20px;
    background: #dd5347;
    border-radius: 100%;
    z-index: 2;
}
input[id*="popup"] + label + div > label{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    z-index: 1;
}
#temperature{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
#temp_digit{
    display: flex;
    justify-content: center;
    align-items: center;
}
#heartRate{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
#heart_digit{
    display: flex;
    justify-content: center;
    align-items: center;
}
#graph {
    display: flex;
    
    align-items: center;
    justify-content: center;
    margin: 10px;
}
#graph1{
    margin: 10px;
    width: 600px;
    height: 400px;
}
#graph2{
    margin: 10px;
    width: 600px;
    height: 400px;
}
#personalInfo{
    width: 1600px;
    height: 380px;
    display: flex;

    align-items: center;
    justify-content: center;
}
.info{
    display: flex;
    margin: 10px;
    width: 700px;
    height: 45px;
    border-left: 1px solid #cecece;
    border-right: 4px solid #cecece;
    border-bottom: 4px solid #cecece;
}

#temperature{
    width: 300px;
    height: 200px;
    border: 2px solid #cecece;
    border-right: 4px solid #cecece;
    border-bottom: 4px solid #cecece;
    border-radius: 30px;
}
#heartRate{
    width: 300px;
    height: 200px;
    border: 2px solid #cecece;
    border-right: 4px solid #cecece;
    border-bottom: 4px solid #cecece;
    border-radius: 30px;
}

.chart{
    border: 2px solid #cecece;
    border-right: 4px solid #cecece;
    border-bottom: 4px solid #cecece;
    
    
  }
.chart_t {
    border: 2px solid #cecece;
    border-right: 4px solid #cecece;
    border-bottom: 4px solid #cecece;
    
}